<p id="notice"><%= notice %></p>

<h1>Scaffold Resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scaffold_resources.each do |scaffold_resource| %>
      <tr>
        <td><%= scaffold_resource.name %></td>
        <td><%= scaffold_resource.description %></td>
        <td><%= link_to 'Show', scaffold_resource %></td>
        <td><%= link_to 'Edit', edit_scaffold_resource_path(scaffold_resource) %></td>
        <td><%= link_to 'Destroy', scaffold_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scaffold Resource', new_scaffold_resource_path %>
